@import "theme/theme_variables";
// <--------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";
// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "understrap/understrap";
// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "understrap/woocommerce";
// <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce
//Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/font-awesome";
// <------- Font Awesome Icon font
@import "assets/underscores";
// <------- Underscores media styles
// Any additional imported files //
@import "theme/contact-form7";
// Contact Form 7 - Bootstrap 4 support
@import "theme/theme"; // <--------- That's where you can add your own design. Thats your part!


html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #37373c;
}

.site {
  overflow: hidden;
}

h1 {
  @include media-breakpoint-down(md) {
    margin-top: 45px !important;
    margin-bottom: 25px !important;
  }
}

h2 {
  margin-top: 60px !important;
  margin-bottom: 45px !important;
  @include media-breakpoint-down(md) {
    margin-top: 45px !important;
    margin-bottom: 25px !important;
  }
}

h3 {
  margin-top: 45px !important;
  margin-bottom: 60px !important;
}

.form-control {
  padding: 15px 15px;
}

.add-slide {
  margin-right: 0;
  @include media-breakpoint-down(lg) {
    margin-right: 20px;
  }
}

.entry-header {
  h2 {
    margin-bottom: 25px !important;
  }

  img {
    margin-bottom: 25px;
  }
}

.logo-menu{
  height: 60px !important;
}
.padding-menu{
  padding: 20px;
}

.nav-borders {
  border-top: 1px solid #DEDEDE;
}

.nav-borders-last {
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}

.nav-links {
  color: #37373C !important;
  transition: 0.5s;

  &:hover {
    text-decoration: none !important;
    background: $secondary;
  }
}
.navmenu-default{
  background: white !important;
  .close{
    position: relative;
    .close-btn{
      position: absolute;
      font-size: 1rem;
      top: -10px;
      right: 10px;
    }
  }
}

.arrow-right {
  float: right;
  margin-top: 5px;
  color: #9B9B9B !important;
}
.arrow{
  color: #9B9B9B !important;
}

.nav-categories {
  padding-left: 30px !important;
}

.megamenu-li {
  .column {
    border-right: 1px solid $gray-200;
    margin-bottom: 20px;
    float: left;
    border-bottom: 3px solid #FFFFFF;

    .nav {
      padding: 0;
    }

    .nav-link {
      padding-left: 1.5rem;
      padding: 0.2rem 1rem 0.2rem 0.7rem;
      color: #343a40!important;
      font-size: 15px;
    }
    .color-hover{
      color: #343a40!important;
      transition: 0.5s;
      &:hover{
        color: $primary !important;
      }
    }
    //display: flex;
    //flex-direction: column;
  }
  .cat-see-all{
    padding: .2rem 1rem .2rem 0.7rem;
    transition: 0.5s;
    &:hover{
      text-decoration: none;
      color: black;
    }
  }

  .see-all {
    float: right;
    font-weight: bold;
    font-size: 14px;
    color: $primary;
    margin-top: -10px;

    a {
      &:hover {
        text-decoration: none;
        color: #420024;
      }
    }
  }

  .last {
    border-right: none !important;
  }
  .cat-nav{
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    &:hover{
      color: $primary !important;
      border-bottom: 3px solid $primary;
    }
  }
}



.megamenu {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position:absolute;
  left: 66% !important;
  margin-left: -50vw;
  margin-right: -20vw;
  max-width: 100vw;
  right: 50%;
  width: 100vw;
  transition: height 0.5s ease;
  z-index: 3000;
  background: #fff;
  box-shadow: 2px 5px 6px 0 #dcdcdc;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  .megamenu-cont{
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.2s;
  }
}
.megamenu.show {
  overflow: inherit;
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease;
  .megamenu-cont{
    transition: opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 1;
  }
}
.count-cart-container {
  position: relative;

  .count-cart {
    position: absolute;
    font-size: 12px;
    text-align: center;
    background: #DC3545;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    top: 3px;
    right: 5px;
    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }
}

.separator-nav {
  height: 75px;
  background: $primary;
  &-sm{
    margin-bottom: 10px;
  }
}


.second-nav {
  background: #f8f9fa;
  font-size: 14px !important;
  margin-top: 3px;
  position: relative;

  .nav-link {
    color: #212529 !important;
    //padding: 0.5rem !important;
  }

  .form-control {
    padding: 11px;
    border: none;
    border-bottom: 1px solid #979797;
    background-color: #f8f9fa;
  }

}

.nav-button {
  border: none;
  color: white !important;
}

.nav-pills {
  padding-left: 8px;
  margin-top: 5px;
}

.nav-pills .show > .nav-link {
  background: #f8f9fa;
  border-bottom: 3px solid $primary;
  color: $primary !important;
}

.post-navigation {
  margin-bottom: 60px;
}

.hover-title {
  transition: 0.5s;

  &:hover {
    color: $primary !important;
  }
}

.card-product {
  .card {
    overflow: hidden;
    min-width: 100%;
    img {
      height: 346px !important;
      min-width: 100%;
    }

    p {
      padding-bottom: 0 !important;
      font-size: 13px;
    }

    .btn {
      width: 100%;
      font-size: 13px !important;
    }
    .btn-bottom{
      position: absolute;
      width: 84%;
      bottom: 20px;
    }
    .card-body{
      padding-bottom: 65px;
    }
  }
}

.type-product {
  .card-product {
    width: 255px !important;
  }
}

.card-title {
  margin-bottom: 0.2rem;
}

.card-anchor {
  text-decoration: none !important;
  color: #37373c !important;
}

#wrapper-navbar {
  position: relative;

  a {
    color: #fefefe !important;
    transition: 0.5s;

    &:hover {
      color: $secondary !important;
    }
  }
}

.navbar {
  .menu-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 5px;
    @include media-breakpoint-down(md) {
      margin-left: -60px;
    }
  }
}

.nav-menu-sm {
  margin-right: 5px;
  margin-left: 5px;

  .nav-link {
    padding: 0.5rem;
  }

  .my-account {
    margin-left: 5px;
  }
}

#searchbar {
  margin-top: 20px;
}

.form-control{
  &:focus{
    box-shadow: none;
  }
}

.navmenu-nav {
  .nav-item {
    padding: 10px 15px;
  }
}
#search-wrapper{
  @include media-breakpoint-down(md) {
    padding-top: 60px;
  }
}
.wrapper {
  padding-bottom: 0 !important;
}

.filter {

  margin-top: 60px;
  overflow: hidden;
  float: right;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  @include media-breakpoint-down(md) {
    margin-top: 0px;
    margin-bottom: 45px;
  }

  &-btn {
    text-transform: uppercase;
    border-right: 1px solid #dedede;
    padding: 3px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    float: right;

    &:hover {
      color: $primary !important;

    }

    &.active {
      color: $primary !important;
      font-weight: bold;
    }
  }

  .last {
    border-right: none !important;
    //margin-right: 60px;
    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }
    @include media-breakpoint-down(md) {
      margin-right: 75px;
    }
    @include media-breakpoint-down(sm) {
      border-right: 1px solid #dedede !important;
    }
  }
  .last-cat{
    border-right: none !important;
  }
}

.top {
  position: relative;
  z-index: 3;
}

#home_carrousel {
  overflow: hidden;
  position: relative;
  background: #fff4f4;

  .image-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
      background-position: 65% 35%;
    }
    @include media-breakpoint-down(sm) {
      background-position: 75% 25%;
      height: 325px;
    }
  }

  p {
    font-size: 1.125rem;
    margin-bottom: 30px !important;
  }

  a {
    font-size: 0.8125rem !important;
    @include media-breakpoint-down(sm) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  .carrousel-sm {
    @include media-breakpoint-down(sm) {
      margin-top: 350px;
      text-align: center;
      padding-bottom: 40px;
    }
  }
  .carrousel-title{
    font-size: 40px !important;
    @include media-breakpoint-down(md) {
      font-size: 32px !important;
      margin-top: 10px !important;
    }
  }
  h1 {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    @include media-breakpoint-down(md) {
      margin-top: 0px !important;
      margin-bottom: 20px !important;
      font-size: 2.2rem;
    }
  }
}

.properties-lg {
  margin-left: 0 !important;
  display: flex !important;
  @include media-breakpoint-down(md) {
    display: none !important;
  }

  .properties-slide {
    margin-right: 30px;
  }
}

.properties {
  display: flex;
  flex-direction: start;
  flex-wrap: wrap;

  &-content {
    flex: 1 0 25%;
  }

  &-img {
    margin-bottom: 5px;
  }

  &-carrousel {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
}

.properties-slide {
  flex-direction: column;
}

.spacer {
  margin-top: 60px;
}

.simple-locator-form .distance {
  display: none;
}

.simple-locator-form {
  input {
    @extend .form-control;
  }

  button {
    color: #fff;
    background-color: #75003f;
    border-color: #75003f;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 2rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
    transition: 0.15s;

    &:hover {
      background-color: #4f002a;
      border-color: #420024;
    }
  }
}

.wpsl-results.loading {
  margin: 100px !important;
}

.categories {
  position: relative;
  overflow: hidden;
  /*img{
      position: absolute;
      width: 100%;
      z-index: 1;
      @include media-breakpoint-down(lg) {
          height: 325px;
        }
  }*/
  h3 {
    margin-bottom: 7px !important;
  }

  img {
    position: relative;
    margin-bottom: -50px;
    z-index: 1;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.71;
  }

  a {
    font-size: 0.75rem;
  }

  &-content {
    position: relative;
    z-index: 2;
  }

  &-man {
    background-color: #F1F5F8;
    padding-bottom: 50px;
  }

  &-young {
    background-color: #FFF4F4;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  &-backgrounds {
    position: absolute;
    z-index: 1;

    img {
      bottom: 0;
      height: 290px;
    }
  }
}

.price {
  color: $primary !important;
}

.categories-sm {
  margin-top: 55px;

  .container {
    overflow: hidden;
  }

  .card {
    position: relative;
    height: 470px;
    max-width: 250px;
    border: none;

    &-man {
      background: #f1f5f8;
    }

    &-young {
      background: #fff4f4;
    }

    .card-body {
      text-align: center;
    }

    .cat-button {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 25px;
    }
  }

  h3 {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.71;
    padding-bottom: 0 !important;
  }

  a {
    font-size: 0.75rem;
    color: $primary;
    transition: 0.5s;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}
.modal-launch{
  color: $primary;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    color: gray;
    text-decoration: underline;
  }
}
.modal-img{
  height: 368px !important;
  @include media-breakpoint-down(lg) {
    height: auto !important;
  }
  
}
.modal-dialog {
  max-width: 700px !important;
  @include media-breakpoint-down(sm) {
    max-width: 300px !important;
    margin: 1.75rem auto;
  }
}
.laboratory {
  position: relative;
  overflow: hidden;
  margin-top: 45px;
  padding-bottom: 80px;
  @include media-breakpoint-down(sm) {
    height: 400px;
  }
  @include media-breakpoint-down(xs) {
    height: 300px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(3%, rgba(255, 255, 255, 1)), color-stop(40%, rgba(255, 255, 255, 1)), color-stop(67%, rgba(255, 255, 255, 0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* ie10+ */
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* ie6-9 */
    z-index: 2;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .image-cover-lab {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(sm) {
      background-position: 75% 25%;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.56;
  }

  h2 {
    margin-bottom: 20px !important;
  }

  a {
    margin-top: 10px;
    font-size: 0.8125rem;
    padding: 5px 60px !important;
  }
}

.lab-sm {
  padding-left: 15px;
  padding-right: 15px;

  h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  a {
    margin-top: 10px;
    font-size: 0.8125rem;
    padding: 5px 60px !important;
  }
}

.lab-head {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  @include media-breakpoint-down(sm) {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  img {
    margin-left: 150px;
  }

  p {
    font-size: 18px;
  }
}

#lab-features {
  margin-top: 55px;

  h3 {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

  img {
    height: 150px;
  }

  p {
    font-size: 14px;
  }
}

.back-news {
  background-color: #fff4f4;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  @include media-breakpoint-down(md) {
    margin-top: 50px;
    text-align: center;
  }

  h2 {
    margin: 0 !important;
    margin-bottom: 20px !important;
    color: $primary;
  }
  .sharedaddy{
    @extend .d-none;
  }
}

.news {
  overflow: hidden;

  &-image {
    width: 100% !important;
  }

  h5 {
    a {
      font-size: 1.25rem;
      color: #37373c !important;
      text-decoration: none !important;
    }
  }

  .all-news {
    float: right;
    margin-top: 80px;
    text-decoration: none;
    transition: 0.5s;
    @include media-breakpoint-down(md) {
      margin-top: 60px;
    }

    &:hover {
      color: #420024;
    }
  }

  a {
    font-size: 0.8125rem;
  }

  p {
    font-size: 0.8125rem;
  }

  .card {
    position: relative;
    height: 430px;
    margin-bottom: 20px;
  }

  .news-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .news-posts {
    margin-bottom: 20px;
  }
}

#news{
  margin-bottom: 40px;
}


/////////// ARCHIVE ///////////
.searchandfilter {
  h4 {
    text-transform: uppercase !important;
    font-weight: bold !important;
  }

  ul {
    padding-inline-start: 0px;

    .sf-input-checkbox {
      border-radius: 0 !important;
    }
  }
}
.check-fiters{
  .sf-field-sort_order{
    display: none;
  }
}
#myNavmenu{
  .sf-field-sort_order{
    display: none;
  }
}
#orderMenu{
  .sf-field-taxonomy-propiedad {
    display: none;
  }
  .sf-field-taxonomy-tipo_de_piel{
    display: none;
  }
  .sf-field-taxonomy-tipo_de_producto{
    display: none;
  }
}

.woocommerce-breadcrumb{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.breadcrumb-sm{
  position: relative;
  margin-top: 30px;
  color: #75003f;
  z-index: 3;
}
.woocommerce .woocommerce-breadcrumb a {
  color: #75003f;
}
.woocommerce div.product .product_title{
  @include media-breakpoint-down(md){
    font-size: 32px !important;
  }
}
.prod-description {
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &-border {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background: white;
    padding-top: 20px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-title {
    border-right: 1px solid #dedede;
  }

  a {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: #212529 !important;

    &:hover {
      color: $primary !important;
    }

    .active {
      color: $primary !important;
    }
  }

  h4 {
    font-weight: normal !important;
  }

  p {
    font-size: 0.875rem;
  }
}

#description{
  h3{
    margin-top: 0px !important;
    margin-bottom: 35px !important;
  }
}

#aplication {
  iframe {
    border: none;
    @include media-breakpoint-down(md) {
      height: 500px;
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
  h3{
    margin-top: 30px !important;
    margin-bottom: 35px !important;
  }
}

.card-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 350px;
}

#menu-desc {
  a {
    font-size: 14px;
  }
}

.product-care {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #dedede;

  h5 {
    color: #37373c !important;
  }

  .count-routine {
    font-size: 3.125rem !important;
    color: $primary;
    font-weight: 300;
  }

  .swiper-slide {
    height: auto !important;
  }

  .card-care {
    border: none !important;
    max-width: 100%;

    .card-image {
      background-size: contain;
      background-color: #e3e6e7;
    }
    .card-body{
      padding-bottom: 0 !important;
    }
  }

  .prod-btn {
    display: none !important;
  }

  .price {
    margin: 0 !important;
  }

  p {
    font-size: 14px !important;
  }

   &-head {
     margin-bottom: 20px;
    //height: 175px;
    //@include media-breakpoint-down(sm) {
      //height: 250px;
   // }
   }
}

.first {
  border: none !important;
}

.woocommerce-products-header {
  background: #fff4f4;
  overflow: hidden;
  .cat-head{
    position: relative;
    padding-bottom: 110px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 45px;
    }
    .back-category {
      position: absolute;
      bottom: 0;
      right: 0;
      height: initial;
      z-index: 1;
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }
  .page-title {
    color: $primary;
    margin-top: 65px !important;
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      margin-top: 20px !important;
    }
  }


  .cat-breadcrumb {
    padding-top: 10px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .cat-content {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}

.product-loop {
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  .columns-3 {
    @extend .row;
  }
}

.check-fiters {
  @include media-breakpoint-down(md) {
    display: none;
  }

  label {
    cursor: pointer;
    text-align: center;
    font-size: 13px;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
  }
}

.nav-filters {
  .navmenu {
    padding-top: 15px;
    padding-left: 15px;
  }
}

.navbar {
  color: #fefefe;

  .btn-filter {
    color: $primary;
    padding: 10px !important;
    padding-right: 50px !important;
    border-right: 1px solid #dedede;

    p {
      margin-bottom: 0 !important;
    }
  }

  .btn-filter-last {
    color: $primary;
    padding: 10px !important;
    padding-left: 50px !important;
  }
}

.border-category {
  @include media-breakpoint-down(md) {
    border-top: 1px solid #dedede;
  }

  h2 {
    margin-top: 50px !important;
  }
  .featured-title{
    margin-top: 30px !important;
    margin-bottom: 40px !important;
  }
}

.featured-title{
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}


.broke-container {
  left: 50%;
  margin-left: -50vw;
  margin-right: -20vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.sellpoint-title{
  margin-top: 50px !important;
  @include media-breakpoint-down(md) {
    margin-top: 75px;
  }
}
.footer-sellpoint{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    @include media-breakpoint-down(md) {
      position: relative;
    }
}

footer {
  overflow: hidden;
  background: #f1f5f8;
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .container {
    border-top: 1px solid #dedede;
    padding-top: 45px;
    margin-bottom: 45px;
  }
  img{
    max-width: 150px;
  }
  a {
    margin-right: 25px;
    @include media-breakpoint-down(sm) {
      margin-right: 5px;
    }
    color: #212529;
    transition: 0.3s;

    &:hover {
      color: $primary;
      text-decoration: none !important;
    }
  }
  .whatsapp-lg{
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .whatsapp-sm{
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  .social-media {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }

    i {
      color: $primary !important;
    }

    a {
      margin-right: 0px;
      margin-left: 10px;
      @include media-breakpoint-down(sm) {
        margin-left: 0px !important;
        margin-bottom: 10px !important;
      }
    }

    .media-icons {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .media-section {
    .politics {
      a {
        margin-right: 0 !important;
        margin-left: 25px;
        @include media-breakpoint-down(sm) {
          margin-left: 0px !important;
        }
      }
    }

    .menu {
      @include media-breakpoint-down(sm) {
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      a {
        margin-bottom: 10px;
      }
    }
  }

  .logo {
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-left: 10px;
    }
  }
}

#contact {
  margin: 50px 10px;
  @include media-breakpoint-down(md) {
    margin-top: 90px;
  }

  h5 {
    margin-bottom: 3rem;
  }

  .border {
    border: none !important;
    border-bottom: 1px solid #979797 !important;
    padding-left: 5px !important;

    &::placeholder {
      color: #37373c !important;
      font-size: 14px !important;
    }
  }

  .btn {
    margin-top: 25px;
  }
  #contact-form{
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
  }
}

.btn-cart {
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.entry-header {
  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 2.2rem;
    }
  }
}

.cart_totals {
  margin-bottom: 50px;

  h2 {
    margin-top: 20px !important;
    margin-bottom: 25px !important;
  }
}

//// CART //////
.single_add_to_cart_button {
  .onloading {
    display: none;
  }

  .adding {
    display: none !important;
  }

  &.loading {
    .base {
      display: none;
    }

    .onloading {
      display: block;
    }
  }

  &.added {
    background: $success !important;

    .base {
      display: none;
    }

    .adding {
      display: block !important;
    }
  }
}


#order_review_heading {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

#payment {
  margin-bottom: 50px;
}

.woocommerce-shipping-fields {
  h3 {
    margin-top: 20px !important;
    margin-bottom: 15px !important;
  }
}

.woocommerce-billing-fields {
  h3 {
    margin-top: 20px !important;
  }
}

.entry-summary {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.variations_form {
  position: relative;

  .variations-prod {
    display: flex;
    flex-direction: row-reverse;
    text-align: left !important;
    float: left;

    .variations {
      width: 160px !important;

      label {
        display: inline;
        font-weight: normal !important;
        font-size: 13px !important;
      }

      tr {
        .value {
          margin-right: 25px;
        }

        display: flex;
        flex-direction: column;
      }

      .reset_variations {
        display: none !important;
      }
    }

    .quantity {
      input {
        @extend .form-control;
      }

      width: 40px !important;
      margin-top: 11px !important;
      float: none !important;

      p {
        margin-bottom: 5px !important;
        font-size: 13px !important;
      }
    }

    .form-control {
      padding: 5px;
      border: none;
      border-bottom: 2px solid #979797;
    }

  }
}

.cart {
  position: relative;

  .quantity {
    margin-top: 10px !important;
    width: 50px !important;
    //float: none !important;
    margin-bottom: 1rem !important;

    input {
      @extend .form-control;
    }

    p {
      margin-bottom: 5px !important;
      font-size: 13px !important;
    }

    .form-control {
      padding: 5px;
      border: none;
      border-bottom: 2px solid #979797;
    }

    #quantity_5d556104c5bba {
      margin-bottom: 30px !important;
    }
  }

  .margin-simple {
    margin-bottom: 30px !important;
  }

  .margin-cart-btn {
    margin-bottom: 24px !important;
  }
}

.single-product {
  .price {
    margin-top: 30px;
    margin-left: 35px;
    display: inline-block;
  }

  input {
    margin-top: -10px !important;
  }

  select#pa_tamano {
    margin-top: -5px !important;
    @extend .form-control;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

  }

  .woocommerce-Price-amount {
    //position: absolute;
    font-size: 28px !important;
    //top: 40px !important;
    //right: 150px;
    @include media-breakpoint-down(lg) {
      //right: 75px;
    }
    @include media-breakpoint-down(md) {
      //right: 0;
    }
  }
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper{
  @include media-breakpoint-down(sm) {
  margin: -20px !important;
  margin-top: -50px !important;
  }
}


#pa_tamano {
  margin-top: 5px !important;
  @extend .form-control;
}

.woocommerce div.product form.cart {
  margin-bottom: 24px !important;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  width: 43%;
  margin-top: 50px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.woocommerce-product-details__short-description {
  margin-bottom: 40px;
}

.help-specifications {
  /*left: 50%;
  margin-left: -50vw;
  margin-right: -20vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;*/
  margin-top: 80px;
  background: #fff4f4;
  padding-top: 5px;
  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0px !important;
  }

  .comuncation {
    margin-bottom: 10px !important;
  }

  a {
    margin-bottom: 5px;
    color: #37373C;
    transition: 0.3s;

    &:hover {
      color: $primary;
      text-decoration: none !important;
    }

    i {
      color: $primary !important;
    }
  }

  .btn-primary {
    color: #FFFFFF !important;
    margin-top: 20px;
  }
}

.woocommerce-message {
  border-top-color: $primary !important;

  &::before {
    color: $primary !important;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.understrap-read-more-link {
  display: none !important;
}

.center-select {
  display: flex;
  align-items: center;
  padding: 18px 15px;
}

.select2-container .select2-selection--single {
  @extend .form-control;
  @extend .center-select;
}

.select2-selection__clear {
  @extend .d-none;
}

.woocommerce a.remove {
  color: $primary !important;

  &:hover {
    color: #FFFFFF !important;
    background: $primary !important;
  }
}

.calculated_shipping {
  h2 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}

.woocommerce-MyAccount-content {
  display: none;
}

.woocommerce-Input--text {
  @extend .form-control;
  border: none !important;
  border-bottom: 1px solid #979797 !important;
  padding-left: 5px !important;
  margin-bottom: 10px;
}
#password{
  margin-bottom: 15px;
}
.form__label-for-checkbox{
  margin-left: 45px !important;
}
.woocommerce-form-login__rememberme {
  margin-left: 15px !important;
}

.entry-footer {
  display: none;
}

.woocommerce-product-details__short-description {
  p {
    font-size: 18px !important;
    @include media-breakpoint-down(sm) {
      font-size: 14px !important;
    }
  }
}

//  -------------------  Swiper Style  -------------------  //

.padding-slider-xl{
  padding-right: 15px;
  padding-left: 15px;
  @include media-breakpoint-down(sm) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.swiper-carrousel {
  width: 100%;
  height: 600px;
  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}

.swiper-news {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.swiper-category {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.swiper-featured {
  width: 100%;
  height: 100%;
}

.swiper-care {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-properties {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px !important;
}

.swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: $primary !important;
}
.swiper-pagination-news {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-cat {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.swiper-pagination-featured{
  bottom: 0px !important;
}

// new menu
/*.megamenu-xl{
  position: relative;
  .drop-menu{
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }
  .nav-link{
    &:hover{
      .drop-menu{
        z-index: 50;
        height: auto;
        opacity: 1;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}*/

// new menu
