$primary: #75003f;
$secondary: #cacdd0;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-sans-serif: 'Quicksand', sans-serif;
$headings-font-weight: 400;
$input-btn-padding-x: 2rem;
$input-btn-padding-y: .5rem;
$input-btn-font-size: 0.875rem;
$input-btn-font-size-sm: 0.75rem;
$input-btn-padding-x-sm: 3rem;
$input-btn-padding-y-sm: .35rem;
$input-btn-font-size-lg: 1.125rem;
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$headings-margin-bottom: 1rem;
